<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
     <handlers>
         <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
     </handlers>
     <httpPlatform stdoutLogEnabled="true" stdoutLogFile="rails.log" startupTimeLimit="20" processPath="C:\Ruby32-x64\bin\ruby.exe" arguments="&quot;C:\Ruby32-x64\bin\rails&quot; server -p %HTTP_PLATFORM_PORT% -b 127.0.0.1">
         <environmentVariables>
             <environmentVariable name="foo" value="bar" />
         </environmentVariables>            
     </httpPlatform>
        <defaultDocument>
            <files>
                <clear />
                <add value="login.jsx" />
                <add value="home.jsx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
 </system.webServer>
  </configuration>             
               
               